services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant_db
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    networks:
      - ai_network

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow_server
    ports:
      - "5000:5000"
    command: >
      mlflow server
      --host 0.0.0.0
      --backend-store-uri sqlite:///mlflow_data/mlflow.db
      --default-artifact-root /mlflow_data/artifacts
    volumes:
      - ./mlflow_data:/mlflow_data
    networks:
      - ai_network

  fastapi-app:
    build: .
    container_name: finreg_api
    ports:
      - "8000:8000"
    environment:
      - QDRANT_URL=http://qdrant:6333
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    depends_on:
      - qdrant
      - mlflow
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - ai_network

networks:
  ai_network:
    driver: bridge