qdrant-client
fastembed
mlflow
llama-index
llama-index-vector-stores-qdrant
llama-index-llms-ollama
llama-index-postprocessor-cohere-rerank
ragas
langchain-ollama
langchain-huggingface
fastapi
uvicorn
pydantic
pydantic-settings
llama-index-embeddings-huggingface
